.contact-form-container {
  /* background: #95acca; */
  /* background: #28434f; */
  background: #233e4a;
  width: 50%;
  margin: auto;
  padding: 50px 100px;
  border-top: 10px solid #f7882F;
  transform: translateY(30%);
}

#contact-form-wrapper input {
  font-size: 1.3em;
  margin: .30em 0;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #8EA4C2;
  transition: background-color 5000s ease-in-out 0s;
}

label, input, textarea {
  width: 100%;
  font-size: 12pt;
  color: #8EA4C2;
}

input, textarea {
  margin: 1em 0;
  /* border: none; */
  border: 1.8px solid rgba(0,0,0,.1);
  border-color: #2e5566;
  border-radius: 2px;
  background: transparent;
  outline: none;
  /* font-family: 'IBM Plex Sans', sans-serif; */
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
} 

.required {
  color: #f45702;
  font-weight: bold;
  font-size: large;
}
.success-msg {
  color: #8EA4C2;
  padding-top: 20px;
}
.error-msg {
  color: #EE6352;
  padding-top: 20px;
}

@media only screen and (max-width: 760px) {
  .contact-form-container {
    width: auto;
    padding: 20px 50px;
    margin: 20px;
    transform: translateY(20%);
    margin-right: 50px;
    margin-left: 50px;
  }
}
