.cartoon-img-container {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.cartoon-img {
    width: 350px;
    border-radius: 8px;
    margin-left: 50px;
    margin-top: 200px;
}

@media only screen and (max-width: 760px) {
    .cartoon-img {
        width: 250px;
    }
}

.name-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2.3em;
    padding-left: 10px;
    font-size: 7.5vh;
    letter-spacing: -6px;
    width: 700px;
}

.first-name, .last-name {
    background: linear-gradient(to bottom, #95acca 0%, #3f5374 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans Condensed', sans-serif;
}


@media only screen and (max-width: 760px) {
    .name-container {
        font-size: 5vh;
        letter-spacing: -6px;
        padding-left: 15px;
        padding-top: -2.5em;
        width: auto;
    }
}







