.hello-area,
.about-area,
.skills-area,
.contact-area {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.text-part {
  width: 65%;
  height: 80%;
}

.hello-area,
.about-area,
.skills-area,
.contact-area {
  color: #8EA4C2;
}
.about-me-header {
  color: #f7882F;
  font-size: 3vh;
  font-weight: bold;
  margin-bottom: 25px;
}
.skills-header {
  color: #f7882F;
  text-align: center;
  margin-bottom: 40px;
  font-size: 3vh;
  font-weight: bold;
}
.get-in-touch-header {
  color: #f7882F;
  margin-bottom: 25px;
  font-size: 6vh;
}
.get-in-touch-text {
  margin-bottom: 25px;
}

section {
  margin: 0px auto;
  padding: 100px, 0px;
  max-width: 1000px;
  min-height: 90vh;
}
section::before{
  box-sizing: inherit;
}
section::after{
  box-sizing: inherit;
}

@media screen 
  and (max-width: 760px) {
    .text-part {
      width: 75%;
      height: 50%;
    }
}