.skills-icons {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.icon {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 760px) {
    .icon {
        width: 75px;
        height: 75px;
    }
}