.social-container {
    display: grid;
    justify-items: end;
    padding-right: 1rem;
    width: 50px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(60%);

}  

.github-icon,
.linkedin-icon,
.medium-icon,
.about-me {
    margin-top: 15px;
    cursor: pointer;
}

